<%= stylesheet_link_tag 'loginform' %>

<div class="wrapper">
  <%= form_for(resource, as: resource_name, :html => {:class => 'form-signin'}, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h2 class="form-signin-heading">Sign up</h2>      
    
    <%= f.email_field :email, autofocus: true, :class => 'form-control email', :placeholder => 'Email Address', :required => true%>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password', :required => true %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Confirm Password', :required => true %>
    <label class="signup">Already registered? <%= link_to "Login", new_registration_path(resource_name) %></label> 
    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>

</div>