<%= render :partial => 'layouts/navbar' %>
<div class="container">
<!-- <p id="notice"><%= notice %></p> -->

<h1>Templates</h1>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each_with_index do |template, id| %>
      <tr>
        <td><%= id+1 %></td>
        <td><%= template.name %></td>
        <td><%= template.created_at.strftime("%d-%b-%Y") %></td>
        <td><%= link_to 'Show', template_preview_path(template), :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', template_path(template), :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_template_path %>

</div>