<%= render :partial => 'layouts/extra' %>
<div id="gjs">
</div>
<script type="text/javascript">

var images = [];
<%= raw(@images.to_json) %>.forEach(function(e){
  images.push({src: "/templates/images/" + (e.id+"_"+ e.image_file_name).toString()});
});

var id = '<%= params[:id] %>';
var remote_store_url = '/templates/'+id+'/remote_storage';
var remote_load_url = '/templates/'+id+'/remote_storage';
var template_store_url = "<%= save_template_path(params[:id]) %>";
var image_upload_url = '/templates/uploadimages?template_id='+'<%= @template_id %>';
var image_delete_url = "/templates/deleteimage";
grape_view();
</script>