<%= form_with(model: [@site, @page], local: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :page_name %>
  </div>
    
  <%= form.hidden_field :site_id, :value => params[:site_id] %>  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
