<%= render :partial => 'layouts/navbar' %>
<div class="container">

<p id="notice"><%= notice %></p>

<h1>Page List</h1>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each_with_index do |page, id| %>
      <tr>
        <td><%= id+1 %></td>
        <td><%= page.name %></td>
        <td><%= page.created_at.strftime("%d-%b-%Y") %></td>
        <td><%= link_to 'Preview', site_show_preview_path(params[:site_id], page), :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', site_page_path(params[:site_id], page), :class => 'btn btn-primary btn-xs' %>
        <!-- <%= link_to 'Edit', edit_site_page_path(params[:site_id], page), :class => 'btn btn-primary btn-xs' %> -->
        <%= link_to 'Destroy', site_page_path(params[:site_id], page), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New page', new_site_page_path(params[:site_id]) %>
</div>
