<%= render :partial => 'layouts/extra' %>
<div id="gjs">
</div>
<script type="text/javascript">

  // Link Pages ( linkto is used in grape.min.js at line 12395 )
  var linkto = [{value: "", name: "Link template"}]; //Initialize linkto
  <%=raw @linkto.to_json %>.forEach(function(e){
    linkto.push({value: "/sites/"+e.site_id+"/pages/"+e.id+"/preview", name: e.name});
  });

  var images = [];
  <%= raw(@images.to_json) %>.forEach(function(e){
    images.push({src: "/images/" + (e.id+"_"+ e.image_file_name).toString()});
  });

  var site_id = '<%= params[:site_id] %>';
  var id = '<%= params[:id] %>';
  var remote_store_url = '/sites/'+site_id+'/pages/'+id+'/remote_storage';
  var remote_load_url = '/sites/'+site_id+'/pages/'+id+'/remote_storage';
  var template_store_url = "<%= site_save_page_path(params[:site_id], params[:id]) %>";
  var image_upload_url = '/pages/uploadimages?page_id='+'<%= @page_id %>';
  var image_delete_url = '/pages/deleteimage';
  grape_view();
</script>
