<%= stylesheet_link_tag 'loginform' %>

<div class="wrapper">
<%= form_for(resource, as: resource_name, :html => {:class => 'form-signin'},url: session_path(resource_name)) do |f| %>
  <h2 class="form-signin-heading">Please login</h2>      
  
  <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email Address', :required => true %>
  <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password', :required => true %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %>Remember me
    </label>    
  <% end -%>
  <label class="signup">Not registered? <%= link_to "Creat an new account", new_registration_path(resource_name) %></label>  
  <div class="actions">
    <%= f.submit "Log in", :class => 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
</div>
