<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :site_name %>
  </div>  

  <%= form.label :template_id, :class => '' %>
  <%= form.select("template_id", @templates.collect {|x| [x.name, x.id] }, {:include_blank => "Choose Custom Template"}, {:class => ''}) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
