<%= render :partial => 'layouts/navbar' %>
<div class="container">
<!-- <p id="notice"><%= notice %></p> -->

<h1>My Sites</h1>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each_with_index do |site, id| %>
      <tr>
        <td><%= id+1 %></td>
        <td><%= site.name %></td>
        <td><%= site.created_at.strftime("%d-%b-%Y") %></td>
        <td><%= link_to 'Show', site_pages_path(site), :class => 'btn btn-primary btn-xs' %>
        <!-- <%= link_to 'Edit', site_pages_path(site), :class => 'btn btn-primary btn-xs' %> -->
        <!-- <%= link_to 'Edit', edit_site_path(site), :class => 'btn btn-primary btn-xs' %> -->
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>

</div>