<%= render :partial => 'layouts/navbar' %>
<div class="container">
<!-- <p id="notice"><%= notice %></p> -->

<h1>Pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each_with_index do |page, id| %>
      <tr>
        <td><%= id+1 %></td>
        <td><%= page.name %></td>
        <td><%= page.created_at.strftime("%d-%b-%Y") %></td>
        <td><%= link_to 'Show', site_page_path(params[:id]), :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', edit_site_path(page), :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Destroy', site_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_site_path(:site_id => params[:id]) %>

</div>