<% content_for :header do %>
    <style type="text/css">
        body, html{
          height: 100%;
          margin: 0;
          overflow: hidden;
        }

        iframe {
            user-select: none;
            -webkit-user-select: none;
        }

        #wte-sm-label-parent-flex {
          width: 100%;
        }
        #wte-sm-label-parent-flex .wte-sm-field{display: none;}
        #wte-sm-label-parent-flex {
          border-bottom: 1px solid #383838;
          font-size: 12px;
          padding: 15px 3px 5px;
          width: 100%;
        }
        #wte-sm-flex-grow, #wte-sm-flex-shrink{ width:30%;}
         #wte-sm-flex-basis{ width:40%;}

         #toast-container {
           font-size: 13px;
           font-weight: lighter;
         }

         #toast-container > div,
         #toast-container > div:hover {
           box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
           font-family: Helvetica, sans-serif;
         }

         #toast-container > div {
           opacity: 0.95;
         }

         #gjs-pn-devices-c {
           width: 85%;
           z-index: 1;
         }

         #gjs-sm-float,
         #gjs-pn-commands,
         #gjs-pn-views .fa-cog {
            display: none;
         }

         [data-tooltip]::after {
           background: rgba(51, 51, 51, 0.9);
         }
    </style>
    <%= stylesheet_link_tag 'grapes.min' %>    
    <%= stylesheet_link_tag 'tooltip' %>
    <%= javascript_include_tag 'grapes.min' %>
    <%= javascript_include_tag 'grapesjs-blocks-basic.min' %>
    <%= javascript_include_tag 'grapesjs-plugin-export.min' %>
    <%= javascript_include_tag 'grapesjs-plugin-forms.min' %>  
    <%= javascript_include_tag 'grapesjs-preset-webpage' %>
    <%= javascript_include_tag 'grapesjs-navbar.min' %>  
    <%= javascript_include_tag 'grape_view' %>
<% end %>