<% content_for :header do %>
<%= stylesheet_link_tag 'navbar' %>
<% end %>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Grapes JS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>        
        <% else %>
          <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>   
      </ul>
      <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
        <li><a href="#">Web design</a></li>
        <li><a href="#">Development</a></li>
        <li><a href="#">Graphic design</a></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">Motion</a></li>
        <li><a href="#">Mobile apps</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>